<a class="card bg-base-100 hover:bg-base-content/10 shadow-xl cursor-pointer dark:border dark:border-base-content/30"
    href="{{ .RelPermalink }}">
    {{ if .Params.cover }}
    <figure class="h-48 overflow-hidden">
        {{ with .Resources.Get .Params.cover }}
        {{ $img := .Fill "600x300 center" }}
        <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" class="w-full h-full object-cover" />
        {{ else }}
        <img src="{{ .Params.cover }}" alt="{{ .Title }}" class="w-full h-full object-cover" />
        {{ end }}
    </figure>
    {{ end }}

    <div class="card-body">
        <h2 class="card-title">{{ .Title }}</h2>
        <div class="text-sm text-base-content/60 flex items-center mt-1">
            <ion-icon name="time" class="mr-1"></ion-icon>
            <span>{{ .ReadingTime }}{{ T "minuteRead" .ReadingTime }}</span>
        </div>
    </div>
</a>